*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,38,0.7),rgba(4,9,38,0.7)),url(microchips.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: hsl(240, 100%, 50%);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: #100ddb;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
     border: 1px solid hsl(66, 100%, 45%);
     transition: 1s;
}
nav .fa{
    display: none;
}

/*------ media on screen-----*/

@media only screen and (max-width: 800px){
    .text-box h1{
     font-size: 25px;

}

.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #76757e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links.active{
   right: 0;
  }
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    overflow: hidden;
  }
.nav-links ul{
    padding: 30px;
    position: absolute;
    
  }
  
}

        /*----- services ------*/

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
h1{
    font-size: 26px;
    font-weight: 600;
}

p{
    color: #0c0101;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.services-col{
    flex-basis: 31%;
    background: #ece7e7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 800px){
    .row{
        flex-direction: column;

    }
    
}

          /*---- Store -----*/
          
.Store{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.Store-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.Store-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(18, 8, 78, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

          /*---------- Workshops ---------*/
           
.Workshop{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Workshop h1{
    font-size: 25px;
    text-align: center;
}
.Workshops-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Workshops-col img{
    width: 100%;
    border-radius: 10px;
}
.Workshops-col p{
    padding: 0;
    font-size: 18px;
    text-align: center;
 }
.Workshops-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
}

        /*-------testmonials------*/

.testmonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testmonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testmonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testmonial-col p{
    padding: 0;
}
.testmonial-col h3{
    margin-top: 15px;
    text-align: left;
} 
.testmonial-col .fa{
    color: darkorange;
}
@media(max-width: 700px){
    .testmonial-col img{
        margin-left: 0px;
        margin-right: 15px;      
    }
}

          /*------- Call To Action -------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Workshops/london.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

           /*----- Shop ------*/

.Product{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.product h1{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding-top: 100px;
    color: #f44336;
}
.product-col p1{
    color: #111;
    font-size: 20px;
}
.product-col p{
    color: #eb2005;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.product-col{
    flex-basis: 31%;
    background: hsl(240, 9%, 86%);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.product-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.product-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.product-col p1:hover{
     cursor: pointer;

}

         /*----- Repair Services -----*/

.Repair{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px 0;
}
.Repair h2{
    text-align: center;
    color: #fff;
    padding-top: 50px;
}
.Repair .product-col p{
    color: #111;
}
.Repair .product-col p1{
    color: #111;  
}

.Repair .product-col h4{
    text-align: center;
    color: #111;
    padding-bottom: 50px;
    font-size: 18px;
}
.Repair .product-col ul li{
    text-decoration: none;
    color: #111;
    font-size: 20px;
}

 

 /*------- Image slider section--------*/

 .slider{
    width: 100%;
    max-width: 700px;
    height: auto;
    overflow: hidden;
    position: center;
    padding-left: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.slides{
    display: flex;
    width: 900%;
    animation: slide 40s infinite linear;
}
.slides img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@keyframes slide{
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-20%); }
    33% { transform: translateX(-30%); }
    50% { transform: translateX(-50%); }
    66% { transform: translateX(-66%); }
    83.33% { transform: translateX(-83.33%);}
    90% { transform: translateX(-90%);}
}

@media only screen and (max-width: 800px){
    .slider{
        width: 70%;
        max-width: 700px;
        height: auto;
        overflow: hidden;
        position: center;
       
    }
    .slides{
        display: flex;
        width: 80%;
        animation: slide 40s infinite linear;
    }
    .slides img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    @keyframes slide {
        80% {transform: translateX(-1770%);}
        
       
    }
}
    /*------- Team -----*/ 
    
    .team-section {
        width: 100%;
        max-width: 1400px;
        text-align: center;
        background: #111;
    }
    
    .team-section h2 {
        margin-bottom: 20px;
        font-size: 28px;
        color: #fff;
    }
    
    .team-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        background: #111;
    }
    
    .team-member {
        background-color: #FFF;
        padding: 10px;
        border-radius: 8px;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    
    .team-member:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border: 5px solid rgb(35, 14, 224);
    }
    
    .team-member img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    
    .team-member p {
        margin: 0;
        font-weight: bold;
        color: #100ddb;
    }
    
    /* Responsive Styles */
    @media (max-width: 1024px) {
        .team-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (max-width: 768px) {
        .team-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media (max-width: 480px) {
        .team-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

          /*-------- Contacts ---------*/

          .about-col{
            flex-basis: 31%;
            background: hsl(244, 70%, 58%);
            border-radius: 10px;
            margin-bottom: 5%;
            padding: 20px 12px;
            box-sizing: border-box;
            transition: 0.5s;
        }
        h3{
            text-align: center;
            font-weight: 600;
            margin: 10px 0;
        }
        .about-col:hover{
            box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        }

section h6{
    font-size: 25px;
    font-weight: 700;
    color: #111;
    padding-top: 50px;
}
section p5{
    color: #251715;
    text-align: center;
}
           /*-------- Footer ---------*/

.Footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    /* padding-top: 40vh; */
    background-color: #111;
}
.Footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
h5{
    font-size: 30px;
    color: #111f;
   padding: 2px;
}
.social-media{
    justify-items: center;
    text-align: center;
    display: center;
}
.contacts{
    background-image: linear-gradient(rgba(4,9,38,0.7),rgba(4,9,38,0.7)),url(images/components/mounted\ processor.jpg);
    margin: 100px auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 100px 0;
}
.contacts p{
    color: #fff;
    padding-left: 40px;
}
.contacts h2{
    color: #fff;
    padding-left: 40px;
}
.links-col h2{
    color: #fff;
    padding-right: 40px;
}
.links-col a{
    color: #fff;
    text-decoration: none;
    padding: 5%;
    padding-right: 20px;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color: hsl(239, 71%, 46%);
}
.fa-brands {
    font-size: 36px;
    color: rgb(56, 10, 223);
    margin: 10px;
}
.fa-whatsapp {
    color: green; /*----- whatsapp-----*/
    margin: 10px;
}
.fa-facbook {
    color: blue; /*----- facebook-----*/
    margin: 10px;
}
.fa-telegram {
    color: blue; /*----- telegram-----*/
    margin: 10px;
}
.fa-instagram {
    color: orangered; /*----- instagram-----*/
    margin: 10px;
}
.contacts p3{
    color: #c0c0c0;

}
